.subject{

margin:18px 0;

font-weight:bold;

}

.physics,
.chemistry,
.biology{

height:10px;

width:0;

border-radius:20px;

transition:.8s;

}

.physics{

background:#00D4FF;

}

.chemistry{

background:#7C3AED;

}

.biology{

background:#00FF99;

}
