.goals-card label{

display:block;

margin:14px 0;

padding:12px;

border-radius:12px;

background:rgba(255,255,255,.05);

cursor:pointer;

transition:.3s;

}

.goals-card label:hover{

background:rgba(0,212,255,.10);

}

.goal{

transform:scale(1.3);

margin-right:12px;

accent-color:#00FF99;

}
