/* ==========================
   Theme Settings
========================== */

.light-theme{

background:#f4f7fb;

color:#111;

}

.light-theme .card{

background:white;

color:#111;

border:1px solid #ddd;

}

.light-theme .header h1{

color:#0077ff;

text-shadow:none;

}

#themeToggle{

margin-top:15px;

}
